*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-setting {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: #111827 3px solid;
    border-radius: 8px;
    line-height: 2rem;
    user-select: none;
    & > h1{
        border-radius: 8px;
        text-align: center;
        color: #ffffff;
        background-color: #e58625;
    }
}

.theme-title{
    font-size: 1.1rem;
    font-weight: bold;
    & ~ input:not(p + input) {
        margin-left: 10px;
    }
}

.theme-setting > input {
    cursor: pointer;
}

.theme-setting > label {
    cursor: pointer;
}

.theme-text{
    margin-top: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #edf0f5;
    color: #c3c6d2;
    background-color: #ffffff;
}

#light:checked  {
    & ~ label[for="light"] {
        color: #916547;
        background-color: #fbf3ca;
    }
    & ~ .theme-light {
        color: #111827;
        background-color: #fdf8cf;
        font-weight: bold;
    }
}


#dark:checked {
    & ~ label[for="dark"] {
        background-color: #111827;
        color: #fdf8cf;
    }
    & ~ .theme-dark {
        color: #fdf8cf;
        background-color: #111827;
        font-weight: bold;

    }
}

#red:checked {
    & ~ label[for="red"] {
        background-color: #f8e3e2;
        color: #ba6543;
    }
    & ~ .theme-red {
        color: #ba6543;
        background-color: #f8e3e2;
        font-weight: bold;

    }
}

#blue:checked {
    & ~ label[for="blue"] {
        background-color: #c3d9f8;
        color: #2b6cb0;
    }
    & ~ .theme-blue {
        color: #2b6cb0;
        background-color: #c3d9f8;
        font-weight: bold;

    }
}

#green:checked {
    & ~ label[for="green"] {
        background-color: #c3f8e3;
        color: #2f855a;
    }
    & ~ .theme-green {
        color: #2f855a;
        background-color: #c3f8e3;
        font-weight: bold;

    }
}

#vi:checked {
    & ~ label[for="vi"] {
        background-color: #caf5d2;
        color: #3b6846;
    }
    & ~ .theme-vi {
        color: #356338;
        font-weight: bold;
    }
}

#en:checked {
    & ~ label[for="en"] {
        background-color: #c3d9f8;
        color: #2b6cb0;
    }
    & ~ .theme-en {
        color: #2b6cb0;
        font-weight: bold;
    }
}

#option1:checked {
    & ~ label[for="option1"] {
        background-color: #fbf3ca;
        color: #916547;
    }
    & ~ .theme-advanced {
        color: #916547;
        background-color: #fbf3ca;
        font-weight: bold;

    }
}

#option2:checked {
    & ~ label[for="option2"] {
        background-color: #caf5d2;
        color: #4b8245;
    }
    & ~ .theme-eco {
        color: #4b8245;
        background-color: #caf5d2;
        font-weight: bold;

    }
}

#option3:checked {
    & ~ label[for="option3"] {
        background-color: #f8e3e2;
        color: #ba6543;
    }
    & ~ .theme-warning {
        color: #ba6543;
        background-color: #f8e3e2;
        font-weight: bold;

    }
}

    